<h3>Sign In</h3>
<p class="warning"><i><%= locals.message %></i></p>


<div class="container">
    <form action="/admin" method="POST">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Login" class="btn">
    </form>
</div>

<h3>Register</h3>

<div class="container">
    <form action="/register" method="POST">
        <label for="username" aria-required="true"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username">
    
        <label for="password"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name="password">
    
        <input type="submit" value="Register" class="btn">
    </form>
</div>
