<div class="author">
    <h1 class="author_heading"> Search Result</h1>
</div>
<div class="container">
    <section class="articles">
        <ul class="article-ul">
            <% data.forEach(post =>{ %>
                
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        
        <% }) %>
        </ul>
    </section>
</div>