<section class="container-header">
    <header class="header">
        <a href="/" class="header__logo">Admin Panel</a>

        <nav class="header__nav">
            <ul >
                <li><a href="/" >Home</a></li>
                <li><a href="/abaout">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="header__button">
            <a href="/loyout">
                Logout
            </a>
        </div>
        
    </header>
</section>